<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
            <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">

</head>
<body>

{% load custom_tag %}

        <div class="navbar-wrapper">
      <div class="container">



    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container"></div>
    <div class = "container-fluid" >
        <div class="navbar-header">
                <li class="active"><a href="{% url 'pages:index' %}" class="navbar-brand">HOME(연구실 이름) </a></li>

        </div>
<ul class="nav navbar-nav navbar-right">
    {% for menu in board_menu %}
    <li><a href="{% url 'pages:menu' menu.b_type %}" class="navbar-brand">{{menu.b_type_ko}}&nbsp; &nbsp;</a></li>

    {% endfor %}
    </ul>

        <form  action="."  class="navbar-form navbar-right" method="get">
            {% csrf_token %}
            <input type="text" class="form-control" name="search" placeholder="Search..." value="{{search_result}}">
            <input type="submit" name="query" value="검색" class="btn btn-default">
          </form>
</div>
    </nav>
      </div>
    </div>


{% if board %}

<div class="container">
    <div class="blog-header">
        <h1 class="blog-title">{{board.b_type}}</h1>
        <p class="lead blog-description">{{board.b_type}}글 입니다. @!#!@#!@#!@#</p>
      </div>
    <div class="row">
        <div class="col-sm-9 blog-main">
            <div class="blog-post">
                <h2 class="blog-post-title">{{board.b_title}}</h2>
                <p class="blog-post-meta">{{board.b_date}}</p>
            </div>

                                <hr>
                        {{board.b_contents|safe}}
        </div>
    </div>



</div>
{% endif %}

{% if files %}
<div class="container">
    <div class="blog-header">
        <h1 class="blog-title">데이터셋</h1>
        <p class="lead blog-description">데이터셋 글 입니다.132331232 @!#!@#!@#!@#</p>
      </div>
    <div class="row">
        <div class="col-sm-9 blog-main">
            <div class="blog-post">
                <h2 class="blog-post-title">{{files.f_title}}</h2>
                <p class="blog-post-meta">{{files.f_date}}</p>
            </div>

                                <hr>
                        {{files.f_contents|safe}}
        </div>
    </div>

 <a class="btn btn-default"href="{{file.f_file.url}}">데이터 다운로드</a>
                                {% if real_all_board|in_category:files.id  %}
                        <h3 class="blog-post-meta">이 데이터를 사용한 분석 글</h3>
                        {% for board in real_all_board|in_category:files.id %}
                        <div class="col-xs-6 col-lg-4">
                            <h4>{{board.b_title}}</h4>
                            <a href=" {% url 'pages:detail' board.b_type.b_type board.id %}" class="btn btn-default">View details »</a>
                        </div>

                            {% endfor %}
                                {% endif %}

</div>






{% endif %}





</body>
</html>